<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/PatientBlood.css">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        {{#p_data}}
    <form action="/patient_medicine_update/{{patient_id}}" class="form-register"> 
            <h3>PATIENT MEDICINE REGISTRATION FORM</h3>
            <div class="form-group">
              <label for="name">Name</label>
              <br>
              <input type="text" name="name" placeholder="Enter your name" value="{{patient_name}}">
            </div>
            <div class="form-group">
              <label for="cnic">cnic</label>
              <br>
              <input type="text" name="cnic" placeholder="Enter your cnic" value="{{cnic}}">
            </div>
            <div class="form-group">
              <label for="disease">Disease</label>
              <br>
              <input type="text" name="disease" placeholder="Enter your disease" value="{{disease}}">
            </div>
            <div class="form-group">
            <label for="email">Email</label>
            <br>
            <input type="email" name="email"  placeholder="Enter your email" value="{{email}}">
          </div>
            <div class="form-group">
            <label for="contact">Contact No</label>
            <br>
            <input type="number" name="contact"  placeholder="Enter your contact no" value="{{contact_no}}">
          </div>
          <div class="form-group">
              <label for="age">Age</label>
              <br>
              <input type="number" name="age" placeholder="Enter your age" value="{{age}}">
            </div>
          <div class="form-group">
            <label for="medicineid">Medicine Id</label>
            <br>
            <input type="number" name="medicineid"  placeholder="Enter Medicine Name you want" value="{{medicine_id}}">
          </div>
          <div class="form-group">
            <label for="medicinename">Medicine Name</label>
            <br>
            <input type="text" name="medicinename"  placeholder="Enter Medicine Name you want" value="{{medicine_name}}">
          </div>
          <div class="form-group">
            <label for="state">state</label>
            <br>
            <input type="text" name="state" placeholder="Enter your state" value="{{patient_state}}"> 
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <br>
            <input type="text" name="city" placeholder="Enter your city" value="{{patient_city}}">
          </div>
          <div class="form-group">
            <label for="zipcode">Zip Code</label>
            <br>
            <input type="number" name="zipcode" placeholder="Enter your zipcode" value="{{patient_zip}}">
          </div>
          
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            Update
          </button>
            {{!-- <input type="submit" name="submit" value="submit"> --}}
        </form>
        {{/p_data}}
    </div>
</body>
</html>